re4_check_if_string_is_palidrome.exe
re4_reverse_an_array_using_recursion.exe
re5_fibonacci_number.exe
re6_find_all_subsequeces.exe
re7_printing_subsequence_whose_sum_is_k.exe
re_7_print_subsequence_whose_sum_is_sum.exe
re7_3Count_subsequence_with_sm_is_k.exe
rV8_merger_sort.exe
rV9_quick_sort.exe
re8_39_Combination_Sum.exe
rv9_assignment_decreasing.exe